all:
  vars:
    # cloud provider
    cloud_provider: "aws" # aws, azure, gcp

    instance_name: "vm-rhel-aib"
    
    # ansible configuration
    ansible_user: ec2-user # ec2-user, azureuser
    ansible_ssh_private_key_file: "~/.ssh/id_rsa" # private key used to access the remote server

    remote_ssh_public_key_file: "~/.ssh/id_rsa.pub" # use existing keypair

    # github specific variables
    github_pat: "ghp_123456"
    github_org: "rhadp-examples"

    # aws specific variables
    aws_access_key_id: "abc123"
    aws_secret_access_key: "def456"
    aws_default_region: "us-east-2"
    aws_image_id: "ami-07b21932ee4cac8c0"  # RHEL10, ARM, us-east-2

    # azure specific variables
    azure_guid: "abc123"
    azure_client_id: "abc123"
    azure_password: "abc123"
    azure_tenant: "example.com"
    azure_subscription: "abc123"
    azure_resource_group: "resources"
    azure_dns_zone: "example.com"
    azure_location: "West Europe" # "East US 2"  # https://gist.github.com/ausfestivus/04e55c7d80229069bf3bc75870630ec8

    # gcp specific variables
    
